<div class = "row">
    <h1>Experiencia labora</h1>
    <div class="col-lg-11"> 
        <ul>
            <li>
                <h1>Trabajo uno</h1> - <h3>(Año)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quis eos tenetur quos eligendi corporis enim fugit dolorum ea, consequuntur ratione vel, culpa quas delectus quam id similique blanditiis repudiandae.</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo dos</h1> - <h3>(Año)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quis eos tenetur quos eligendi corporis enim fugit dolorum ea, consequuntur ratione vel, culpa quas delectus quam id similique blanditiis repudiandae.</p>
        </ul>
    </div>
</div>