

@media (min-width: 576px)
{
    #fotoPerfil
    {
        width: 20%;
        border-radius: 80%;
        position:absolute;
        left: 5%;
        margin-top: -13%;
        box-shadow: 3px 3px 3px grey;
    }
}

@media (max-width: 575px)
{
    #fotoPerfil
    {
        width: 40%;
        border-radius: 80%;
        box-shadow: 3px 3px 3px grey;
    }
}



div
{
    /* background-color:black; */
    background-color:#4e80ac; 
    text-align: center;
    
    width: 100% ;
}


