<div>

    <a href="https://www.instagram.com/agus_.moya/?hl=es" target="_blank"><img src="../../../assets/instagram.png" id="logoInsta"></a>
    <a href="https://twitter.com/Moyagustin1" target="_blank"><img src="../../../assets/gorjeo.png" id="logoTwit"></a>
    <a href="https://www.facebook.com/aguuss.mooyaa/" target="_blank"><img src="../../../assets/facebook.png" id="logoFace"></a>
    <a href="https://www.linkedin.com/in/agustin-moya-44443b1a3/"target="_blank"><img src="../../../assets/linkedin.png" id="logoLinke"></a>
    <a href="https://github.com/AgustinMoyaArancibia"target="_blank"><img src="../../../assets/github.png" id="logoGit"></a>



</div>
