<div>

    <a href=""><img src="../../../assets/instagram.png" id="logoInsta"></a>
    <a href=""><img src="../../../assets/gorjeo.png" id="logoTwit"></a>
    <a href=""><img src="../../../assets/facebook.png" id="logoFace"></a>
    <a href=""><img src="../../../assets/linkedin.png" id="logoLinke"></a>
    <a href=""><img src="../../../assets/github.png" id="logoGit"></a>

    <!-- <a href="../../../assets/instagram.png" id="logoInsta"></a>
    <a href="../../../assets/gorjeo.png" id="logoTwit"></a>
    <a href="../../../assets/facebook.png" id="logoFace"></a>
    <a href="../../../assets/linkedin.png" id="logoLinke"></a>
    <a href="../../../assets/github.png" id="logoGit"></a> -->

</div>
